*{
    margin: 0px;
}

.nav{
    display: flex;
    color: grey;
    height: 57px;
    justify-content: space-between;
    align-items: center;
}

.nav img{
    margin-left: 10vw;
    height: 5vh;
    width: 138px;
}

.nav span{
    margin: 18vw;
}

/*Styling the */
.nav a{
    margin: 5px;
}

.main-container{
    background-image: url("background-layer.png");
    color: white;
    height: 95vh;
    align-content: center;
    text-align: center;
}

.main-container h1{
    margin-bottom: 4vh;
}

#about{
    display: flex;
    flex-direction: column;
}

.about-title, .awards-title, .contact-title{
    text-align: center;
    font-family: 'Times New Roman', Times, serif, Courier, monospace;
    font-weight: bold;
    color: darkgreen;
    font-size: 25px;
    padding: 1vw;
}

#about .description{
    font-size: 15px;
    text-align: center;
    margin: 5vh;
    color: grey;
}

.cards{
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
}

.cards img{
    height: 270px;
    width: 350px;
}

.card-title {
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    margin: 2vh;
}

.card-text{
    text-align: left;
    font-size: 11px;
    color: grey;
    margin: 2vh;
}

.vision-card{
    flex: 1;
    margin-left: 15vw;
}

.mission-card{
    flex: 1;
    margin-right: 5vw;
}

@media screen and (max-width: 1000px) {
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .vision-card{
        flex: 1;
        margin-left: 0vw;
    }
    
    .mission-card{
        flex: 1;
        margin-right: 0vw;
    }
}

#bg-cement{
    background-color: rgb(240, 240, 240);
}

.award-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 30px;
}

.award-cards img{
    height: 200px;
    width: 280px;
}

.award-title{
    font-weight: bold;
    font-size: 15px;
}

.award-description{
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.award-line-1, .award-line-2, .contact-us span, .location .address{
    font-size: 11px;
    color: grey;
}

.contacts-container{
    display: flex;
}

.form{
    flex: 1;
    margin-left: 20vw;
    margin-bottom: 2vh;
}

.right{
    flex: 1;
}

@media screen and (max-width: 1000px) {
    .contacts-container{
        display: flex;
        flex-direction: column;
    }

    .form{
        margin: auto;
    }

    .right{
        text-align: center;
    }
}

.location-title, .contact-sub-title{
    font-weight: bold;
    font-size: 15px;
    margin: 4vh 0vh;

}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: black;
}

.footer{
    box-sizing: border-box;
    height: 5vh;
    color: white;
    display: flex;
    background-color: rgb(14, 94, 14);
    position: relative;
    bottom: 0px;
}

.copy-right{
    flex : 1;
}

.icons{
    flex: 5;
    text-align: center;
}

.go-up{
    flex: 1;
}

.footer a:hover{
    color: white;
}

.social-media-links a{
    margin: 2vw;
}