*{
    margin: 0px;
}

.nav{
    display: flex;
    color: grey;
    height: 57px;
    justify-content: space-between;
    align-items: center;
}

.nav img{
    margin-left: 10vw;
    height: 4.89vh;
    width: 138px;
}

.nav span{
    margin: 18vw;
}

/*Styling the */
.nav a{
    margin: 5px;
}

.main-container{
    background-image: url("background-layer.png");
    color: white;
    height: 95vh;
    align-content: center;
    text-align: center;
}

.main-container h1{
    margin-bottom: 4vh;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: black;
}

